@model IEnumerable<FarmingCattleApp.Models.CattleModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>




            <div class="totals">
<dt class="col-sm-2">
          Total Bulls:  @Model.Sum(i=>i.Bulls) </dt>
 
<br>
<dt class="col-sm-2">
          Total Cows: @Model.Sum(i=>i.Cows) </dt>
 
<br>

<dt class="col-sm-2">
            Bull Calfs: @Model.Sum(i=>i.BullCalf) </dt>
 <br>
<dt class="col-sm-2">
            Cow Calfs: @Model.Sum(i=>i.CowCalf) </dt>
<br>
 
        <dt class="col-sm-2">
            Deaths : @Model.Sum(i=>i.Dead)
        </dt> 
        <br>
        <dt class="col-sm-2">
            Missing : @Model.Sum(i=>i.Missing)
        </dt> 
        
        <br>
 <dt class="col-sm-2">
            Total : @Model.Sum(i=>i.Total)
        </dt> 
       
</div>